/*
	CSS files kept in the 'schemes' directory can be used to
	costumize your K2 installation without having to mess
	with the core K2 files. This in turn makes it easier to
	upgrade to new K2 version as well as debug any problems
	that might occur.

	You select schemes from the K2 Options page in the
	'Presentation' section of your WordPress administration.
	
	Author Name	: Blake Johnson
	Author Site	: http://www.blakerobertjohnson.com
	Style Name	:
	Style URI	:
	Version		: 0.1
	Comments	:
*/

body {
	background: white;
	}

#page {
	border: none;
	border-top: 5px solid black;
	margin-top: 10px;
	padding: 0 0 10px;
	}
	
#header {
	height: 270px;
	width: 780px;
	background: white url('images/headers/blake-mountains.jpg') left bottom no-repeat;
	}

.content {
	padding: 10px 0 0 0;
	}
	
#primary {
	padding: 0 20px 0 0;
	width: 530px;
	margin: 0;
	/* Contains the main column */
	}

.hentry {
	/* Each entry is contained within the 'hentry' class */
	padding: 0;
	display: inline-block;
	}
	
.hentry:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Holly Hack targets IE/Win only \*/
* html .hentry {height: 1%;}
.hentry { display: block; }
/* End Holly Hack */

.entry-meta {
	line-height: 1.8em;
	color: #777;
	margin-bottom: 1.8em;
}

.entry-meta a { color: #444;}

.entry-content {
	/* The meat and potatoes of every entry */
	width: 530px;
	line-height: 1.5em;
}
	
.page .entry-content {
	width: 530px;
}

.single #primary .k2-asides .entry-content {
	font-size: 1.2em;
	color: #444;
}

.secondary {
	/* Contains the sidebar */
	width: 200px;
	padding: 10px;
	}
	
.columns-two #sidebar-main, .columns-two #sidebar-alt {
	width: 230px;
	padding: 10px 0 0;
}
.secondary div {
	margin: 0 0 18px;
}

/*- Main Menu in Header */

ul.menu {
	position: absolute;
	width: auto !important;
	padding: 15px 0;
	left: auto;
	right: 0px;
	top: 0px;
	bottom: auto;
	}

ul.menu li a {
	font-size: 1.4em;
	color: black;
	}

.admintab {
	position: relative;
	right: auto;
}

/*- Headings */

h1, h2, h3, h4 {
	font-family: Verdana, Arial, Sans-Serif;
	}

#header h1 { /* H1 is the title in the header */
	font-size: 1.8em;
	line-height: 15px;
	font-weight: bold;
	padding: 15px 0;
	}

h1, h1 a, h1 a:hover, h1 a:visited,
#header .description {
	text-decoration: none;
	color: black !important;
	}

#header .description {
	font-size: 1.4em;
	line-height: 15px;
	margin: 0;
	}

#primary h3, #primary h4 {
	line-height: 1.5em; /* 36px = 36/24 = 1.5em */
	margin-bottom: 0px;
}

#primary .k2-asides h3 {
	font-size: 1.6em;
	line-height: 1.125em; /* 18px = 18/16 = 1.125em */
}

.single #primary .k2-asides h3 {
	line-height: 1.5em; /* 36px = 36/24 = 1.5em */
	margin-bottom: 0px;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited, h4, h4 a, h4 a:visited {
	color: black;
}

/*- Various Tags and Classes */

.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content div,
.entry-content blockquote,
.ks-asides .entry-content p,
.ks-asides .entry-content ul,
.ks-asides .entry-content ol,
.ks-asides .entry-content div,
.ks-asides .entry-content blockquote {
	margin: 0 0 18px !important;
}
